/* font-family: 'Cinzel Decorative', cursive;
font-family: 'Uncial Antiqua', cursive;
font-family: 'Lato', sans-serif;




--raisin black #242331 hero-title

*/
* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Cinzel Decorative", cursive;
}

p,
li {
  font-size: 16px;
  line-height: 1.8em;
  font-weight: 400;
}

h2 {
  color: #242331;
}

h3,
p,
li {
  color: #242331;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #eee;
}

.container {
  margin: 0 auto;
  width: 720px;
  background-color: whitesmoke;
}

.hero {
  text-align: center;
  height: 340px;
  background-image: url("images/newross-hero-1200.avif");
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 1px #242331;
}

#hero-title {
  font-size: 3em;
  padding-top: 30px;
  letter-spacing: 1.5px;
}

#hero-sub-title {
  color: white;
  padding-top: 160px;
  font-family: "Uncial Antiqua", cursive;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}

#new-ross {
  font-size: 1.2em;
}
.heading {
  font-size: ;
  text-align: center;
  padding-top: 40px;
  font-family: "Cinzel Decorative", cursive;
}

.title {
  font-size: 1.5em;
}
.sub-title {
}

.attractions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.attraction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attraction-img {
  width: 180px;
  border-radius: 50%;
}

.trip-logo {
  width: 140px;
}

.trip-rating {
  width: 80px;
}

.card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: center;
  border: 2px solid grey;
  border-radius: 20px;
  width: px;
  height: ;
}

.card img {
  width: 720px;
}

#outro {
  display: flex;
}

#your-host {
  width: 360px;
  border: 2px dotted pink;
}

#fun-facts {
  width: 360px;
  border: 2px solid purple;
}

#avatar {
  width: 200px;
  margin: 20px;
  border: 6px solid #642140;
  border-radius: 20px;
}

footer {
  background-color: white;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  width: 720px;
  height: 80px;
}
